.nav-bar {
  background-color: #333;
  padding: 1rem;
}

.nav-bar nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.nav-bar nav ul li {
  display: inline;
}

.nav-bar nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  cursor: pointer; /* Changes the cursor to a pointer */
}

.nav-bar nav ul li a:hover {
  background-color: #555; /* Changes background color on hover */
  color: #ffeb3b; /* Optional: Changes text color on hover */
  border-radius: 5px; /* Keeps the rounded border on hover */
}

.nav-bar nav ul li a.active {
  background-color: #555;
  border-radius: 5px;
}
